.content-wrapper {
    padding: 64px 0;
}

.content-container {
    max-width: 800px;
    min-width: 760px;
    margin: auto;
}

.bg-gray {
    background-color: #fafafa;
}

.text-normal {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

*:has(.full-link) {
    position: relative;
}
.full-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}

h2 {
    margin: 0 0 16px;
}

h3 {
    margin: 32px 0 8px;
    padding: 32px 0 8px;
}

aside {
    margin: 8px 0 16px;
}

.marked {
    img {
        width: 100%;
    }

    blockquote {
        border-left: solid lightgrey 4px;
        background-color: #fafafa;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.text-center {
    text-align: center;
}