# 毎日3時にスプレッドシートのデータをJSONに反映し、静的ビルドするワークフロー
name: update-and-build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *" # NOTE: タイムゾーンはUTC

env:
  API_INTERNAL_DB_URL: ${{secrets.API_INTERNAL_DB_URL}}
  API_EXTERNAL_DB_URL: ${{secrets.API_EXTERNAL_DB_URL}}
  API_SURVEY_DB_URL: ${{secrets.API_SURVEY_DB_URL}}

jobs:
  import_spreadsheets:
    name: スプレッドシートのデータをJSONファイルにインポート
    runs-on: ubuntu-latest
    steps:
      - name: チェックアウト
        uses: actions/checkout@v4
      - name: JSファイルを実行するYAMLを実行
        uses: ./.github/actions/regularly-deploy
        id: import-data
      - name: ABOUTページで読み込むデータのJSONファイルを生成
        uses: jsdaniell/create-json@v1.2.2
        with:
          name: assets/json/about.json
          json: ${{ steps.import-data.outputs.about }}
      - name: GAMEページで読み込むデータのJSONファイルを生成
        uses: jsdaniell/create-json@v1.2.2
        with:
          name: assets/json/game.json
          json: ${{ steps.import-data.outputs.game }}
      - name: TOOLページで読み込むデータのJSONファイルを生成
        uses: jsdaniell/create-json@v1.2.2
        with:
          name: assets/json/tool.json
          json: ${{ steps.import-data.outputs.tool }}
      - name: 差分をpush
        run: |
          git config --global user.email "ttttt.fms5@gmail.com"
          git config --global user.name "tkawa15"
          if (git diff --shortstat | grep '[0-9]'); then \
            git add assets/json/about.json assets/json/game.json assets/json/tool.json
            git commit -m "✨ データの更新"
            git push origin HEAD
          fi
